name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install libelf
      run: apt-get install libelf-dev
    - name: allyesconfig
      run: make allyesconfig
    - name: make
      run: make V=99
